NEXTCLOUD_AIO_DATABASE_PASSWORD=
NEXTCLOUD_AIO_FULLTEXTSEARCH_PASSWORD=
NEXTCLOUD_AIO_IMAGINARY_SECRET=
NEXTCLOUD_AIO_NEXTCLOUD_PASSWORD=
NEXTCLOUD_AIO_ONLYOFFICE_SECRET=
NEXTCLOUD_AIO_REDIS_PASSWORD=
NEXTCLOUD_AIO_SIGNALING_SECRET=
NEXTCLOUD_AIO_TALK_INTERNAL_SECRET=
NEXTCLOUD_AIO_TURN_SECRET=
NEXTCLOUD_AIO_WHITEBOARD_SECRET=
