AIO_LOG_LEVEL=info
APACHE_IP_BINDING=127.0.0.1
APACHE_MAX_TIME=3600
APACHE_PORT=11000
DATABASE_PASSWORD=
FULLTEXTSEARCH_JAVA_OPTIONS=-Xms1024M -Xmx1024M
NEXTCLOUD_ADDITIONAL_APKS=
NEXTCLOUD_ADDITIONAL_PHP_EXTENSIONS=
NEXTCLOUD_DATADIR=
NEXTCLOUD_KEEP_DISABLED_APPS=false
NEXTCLOUD_MEMORY_LIMIT=512M
NEXTCLOUD_MOUNT=
NEXTCLOUD_PASSWORD=
NEXTCLOUD_STARTUP_APPS=
NEXTCLOUD_TRUSTED_CACERTS_DIR=
NEXTCLOUD_UPLOAD_LIMIT=16G
NC_DOMAIN=
ONLYOFFICE_SECRET=
REDIS_PASSWORD=
TALK_INTERNAL_SECRET=
TALK_PORT=3478
TIMEZONE=Europe/Berlin
WHITEBOARD_SECRET=
COLLABORA_DICTIONARIES=
ADDITIONAL_COLLABORA_OPTIONS=
